.kanban-container .kanban-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 50px;
}
.kanban-container .kanban-header .title, .kanban-container .kanban-header .org {
  font-size: 18px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.212);
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.kanban-container .kanban-body {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-items: flex-start;
}

.board-container {
  padding: 1rem;
  background-color: rgb(247, 252, 255);
  flex: 0 0 20%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.board-container .board-header .title {
  font-size: 18px;
  font-weight: 700;
}
.board-container .board-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.board-container .board-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board-container .board-footer .add-task {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  text-align: left;
  color: gray;
  padding: 0;
  font-size: 16px;
}
.board-container .board-footer .add-task.submit {
  background-color: #0079bf;
  width: auto;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 1rem;
}
.board-container .board-footer .add-task.cancel {
  color: #0079bf;
}

.task-container {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.13), 0 1px 1px 0 rgba(9, 30, 66, 0.13);
  cursor: pointer;
  position: relative;
}
.task-container.dragging {
  opacity: 0.5;
  cursor: grabbing;
}
.task-container.empty {
  background-color: transparent;
  box-shadow: none;
  border: 2px dashed rgba(9, 30, 66, 0.13);
  padding: 2rem;
  text-align: center;
  color: rgba(9, 30, 66, 0.13);
  cursor: pointer;
}
.task-container .description {
  font-size: 14px;
  color: rgba(9, 30, 66, 0.6);
}
.task-container .delete-task {
  background-color: #f4f5f7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s;
  color: #5f5f5f;
  position: absolute;
  top: 10px;
  right: 10px;
}
.task-container .delete-task:hover {
  color: #005a8d;
  background-color: #e1e2e6;
}

.input-task {
  padding: 0.5rem;
  background-color: transparent;
  box-shadow: none;
  border: 2px dashed rgba(9, 30, 66, 0.13);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input-task input {
  border: 1px solid rgba(9, 30, 66, 0.13);
  padding: 1rem;
  font-size: 14px;
  outline: none;
  border-radius: 5px;
}
.input-task button {
  border: none;
  background-color: #0079bf;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.input-task button:hover {
  background-color: #005a8d;
}

.task-detail {
  width: 600px;
  min-height: 600px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.task-detail .section {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 16px;
  font-weight: 600;
  color: rgb(71, 71, 71);
}
.task-detail .section .icon {
  margin-top: 5px;
}
.task-detail .section .body {
  flex: 1;
}
.task-detail .section textarea {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: rgb(241, 241, 241);
  font-size: 14px;
  outline: none;
  border-radius: 5px;
  width: 100%;
  font-family: inherit;
  box-sizing: border-box;
}
.task-detail .section .activity-log {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 200px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.task-detail .section .activity-log::-webkit-scrollbar {
  display: none;
}
.task-detail .section .activity-log .activity-item {
  background-color: rgb(255, 249, 171);
  padding: 0.5rem;
  border-radius: 5px;
}
.task-detail .section .activity-log .activity-item .activity-title {
  font-size: 14px;
  font-weight: 500;
  color: rgb(71, 71, 71);
}
.task-detail .section .activity-log .activity-item .activity-time {
  font-size: 14px;
  font-weight: 500;
  color: rgba(9, 30, 66, 0.6);
}
.task-detail .section .activity-log .no-activity {
  background-color: transparent;
  box-shadow: none;
  border: 2px dashed rgba(9, 30, 66, 0.13);
  padding: 2rem;
  text-align: center;
  color: rgba(9, 30, 66, 0.13);
}
.task-detail .detail-status {
  font-size: 14px;
  color: rgba(9, 30, 66, 0.6);
  font-weight: 500;
}
.task-detail .detail-footer {
  margin-top: auto;
}
.task-detail .detail-footer .save {
  border: none;
  background-color: #0079bf;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.task-detail .detail-footer .save:hover {
  background-color: #005a8d;
}
.task-detail .label-detail {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.task-detail .label-detail .label-detail-item {
  min-height: 20px;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.task-sidebar {
  margin-top: 2rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.task-sidebar .btn {
  border: none;
  background-color: #0079bf;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.task-sidebar .btn:hover {
  background-color: #005a8d;
}

.task-label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.task-label .task-label-item {
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.labels .label-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.labels .label-item {
  min-height: 20px;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}
.labels input {
  padding: 1rem;
  border: 1px solid rgba(9, 30, 66, 0.13);
  background-color: rgba(252, 252, 252, 0.123);
  border-radius: 5px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.labels .color-picker {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}
.labels .color-picker .color {
  width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
}
.labels .label-picker {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.labels .label-picker .label-item {
  width: 100%;
}
.labels .label-picker input {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(9, 30, 66, 0.13);
  border-radius: 5px;
}/*# sourceMappingURL=kanban.css.map */