// Kanban Header
.kanban-header{
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 50px;
    padding: 1rem;

    .title {
        font-size: 18px;
        font-weight: 700;
        background-color: rgba(255, 255, 255, 0.212);
        padding: 10px;
        border-radius: 5px;
        color: white;
    }

    .btn-transparent {
        font-size: 18px;
        font-weight: 700;
        background-color: rgba(255, 255, 255, 0.212);
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

.kanban-container{
    flex: 1;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 1rem;

    .kanban-body{
        display: flex;
        align-items: flex-start;
    }   
}   

.board-wrapper{
    flex: 0 0 20%;
    padding-right: 1rem;

    .board-container {
        padding: 1rem;
        background-color: rgb(247, 252, 255);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
    
        .close {
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 24px;
            color: gray;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    
        .board-header {
    
            .title {
                font-size: 18px;
                font-weight: 600;
            }
    
            .input-title {
    
                display: flex;
                gap: .5rem;
                align-items: center;
    
                input {
                    padding: 0;
                    font-size: 18px;
                    font-weight: 600;
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid rgba(9, 30, 66, 0.13);
                    height: 40px;
                    padding: 0 1rem;
                }
    
                button {
                    border: none;
                    background-color: #0079bf;
                    color: white;
                    padding: .5rem 1rem;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    height: 40px;
    
                    &:hover {
                        background-color: #005a8d;
                    }
                }
            }
    
        }
    
        .board-body {
            display: flex;
            flex-direction: column;
            gap: .5rem
        }
    
        .board-footer {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .add-task {
                border: none;
                background-color: transparent;
                cursor: pointer;
                width: 100%;
                text-align: left;
                color: gray;
                padding: 0;
                font-size: 16px;
    
                &.submit {
                    background-color: #0079bf;
                    width: auto;
                    color: white;
                    padding: .5rem 1rem;
                    border-radius: 5px;
                    margin-right: 1rem;
                }
    
                &.cancel {
                    color: #0079bf;
                }
            }
        }
    }    
}

.task-container {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.13), 0 1px 1px 0 rgba(9, 30, 66, 0.13);
    cursor: pointer;
    position: relative;

    &.dragging {
        opacity: 0.5;
        cursor: grabbing;
    }

    &.empty {
        background-color: transparent;
        box-shadow: none;
        border: 2px dashed rgba(9, 30, 66, 0.13);
        padding: 2rem;
        text-align: center;
        color: rgba(9, 30, 66, 0.13);
        cursor: pointer;
    }

    .description {
        font-size: 14px;
        color: rgba(9, 30, 66, 0.6);
    }

    .delete-task {
        background-color: #f4f5f7;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: color 0.3s;
        color: #5f5f5f;

        position: absolute;
        top: 10px;
        right: 10px;

        &:hover {
            color: #005a8d;
            background-color: #e1e2e6;
        }
    }
}

.input-task {
    padding: .5rem;
    background-color: transparent;
    box-shadow: none;
    border: 2px dashed rgba(9, 30, 66, 0.13);
    display: flex;
    flex-direction: column;
    gap: .5rem;

    input {
        border: 1px solid rgba(9, 30, 66, 0.13);
        padding: 1rem;
        font-size: 14px;
        outline: none;
        border-radius: 5px;
    }

    button {
        border: none;
        background-color: #0079bf;
        color: white;
        padding: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #005a8d;
        }
    }
}

.task-detail{
    width: 600px;
    min-height: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .section {
        display: flex;
        align-items: flex-start;
        gap: .5rem;
        font-size: 16px;
        font-weight: 600;
        color: rgb(71, 71, 71);

        .icon {
            margin-top: 5px;
        }

        .body{
            flex: 1;
        }

        textarea {
            margin-top: 1rem;
            padding: .5rem;
            border: none;
            background-color: rgb(241, 241, 241);
            font-size: 14px;
            outline: none;
            border-radius: 5px;
            width: 100%;
            font-family: inherit;
            box-sizing: border-box;
        }

        .activity-log {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            max-height: 200px;
            overflow-y: auto;

            // hide scrollbar
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            &::-webkit-scrollbar {
                display: none;
            }

            .activity-item {
                background-color: rgb(255, 249, 171);
                padding: .5rem;
                border-radius: 5px;
        
                .activity-title {
                    font-size: 14px;
                    font-weight: 500;
                    color: rgb(71, 71, 71);
                }

                .activity-time {
                    font-size: 14px;
                    font-weight: 500;
                    color: rgba(9, 30, 66, 0.6);
                }
        
            }

            .no-activity {
                background-color: transparent;
                box-shadow: none;
                border: 2px dashed rgba(9, 30, 66, 0.13);
                padding: 2rem;
                text-align: center;
                color: rgba(9, 30, 66, 0.13);
            }
        
        }
    }

    .detail-status {
        font-size: 14px;
        color: rgba(9, 30, 66, 0.6);
        font-weight: 500;
    }

    .detail-footer {
        margin-top: auto;

        .save {
            border: none;
            background-color: #0079bf;
            color: white;
            padding: .5rem 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #005a8d;
            }
        }
    }

    .label-detail {
        display: flex;
        gap: .5rem;
        align-items: center;

        .label-detail-item {
            min-height: 20px;
            border-radius: 50px;
            padding: .5rem 1rem;
            font-size: 14px;
            font-weight: 400;
            display: flex;
            align-items: center;
            color: white;
            cursor: pointer;
        }
    }

}

.task-sidebar {
    margin-top: 2rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .btn{
        border: none;
        background-color: #0079bf;
        color: white;
        padding: .5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 100%;
        display: flex;
        align-items: center;
        gap: .5rem;

        &:hover {
            background-color: #005a8d;
        }
    }
}

.task-label{
    display: flex;
    gap: .5rem;
    align-items: center;

    .task-label-item {
        border-radius: 50px;
        padding: .5rem 1rem;
    }

}

.labels {

    .label-list {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .label-item {
        min-height: 20px;
        border-radius: 5px;
        padding: .5rem;
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
    }

    input {
        padding: 1rem;
        border: 1px solid rgba(9, 30, 66, 0.13);
        background-color: rgba(252, 252, 252, 0.123);
        border-radius: 5px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
    }

    .color-picker {
        display: grid;
        grid-template-columns: repeat(5, 20%);

        .color {
            width: 100%;
            aspect-ratio: 1;
            cursor: pointer;
        }
    }

    .label-picker {
        display: flex;
        gap: .5rem;
        align-items: center;

        .label-item  {
            width: 100%;
        }

        input {
            width: 20px;
            height: 20px;
            border: 1px solid rgba(9, 30, 66, 0.13);
            border-radius: 5px;
        }
    }

}