.header{
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .logo{
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        // background-color: rgba(252, 252, 252, 0.123);
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search{
        display: flex;
        gap: 10px;
        align-items: center;

        input{
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: rgba(252, 252, 252, 0.123);
            color: white;
            min-width: 300px;
        }

        button{
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: rgba(252, 252, 252, 0.123);
            color: white;
        }
    }

    .apps{
        display: flex;
        gap: 10px;

        a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
            padding: 5px;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.red {
                background-color: #ff4d4d;

                &:hover {
                    background-color: #ff6666;
                }
            }

            &.green {
                background-color: #4dff4d;

                &:hover {
                    background-color: #66ff66;
                }
            }

            &.blue {
                background-color: #4d4dff;

                &:hover {
                    background-color: #6666ff;
                }
            }
        }
    }
    
    .time {
        font-size: 18px;
        font-weight: 700;
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

main{
    margin-top: 80px;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("https://images5.alphacoders.com/133/1339874.png") no-repeat center center/cover;
        z-index: -1;
    }
}

@for $i from 1 through 10 {
    .ml-#{$i} { margin-left: #{$i*.5}rem; }
    .mr-#{$i} { margin-right: #{$i*.5}rem; }
    .mt-#{$i} { margin-top: #{$i*.5}rem; }
    .mb-#{$i} { margin-bottom: #{$i*.5}rem; }
    .my-#{$i} { margin-top: #{$i*.5}rem; margin-bottom: #{$i*.5}rem; }
    .mx-#{$i} { margin-left: #{$i*.5}rem; margin-right: #{$i*.5}rem; }
    .pl-#{$i} { padding-left: #{$i*.5}rem; }
    .pr-#{$i} { padding-right: #{$i*.5}rem; }
    .pt-#{$i} { padding-top: #{$i*.5}rem; }
    .pb-#{$i} { padding-bottom: #{$i*.5}rem; }
    .py-#{$i} { padding-top: #{$i*.5}rem; padding-bottom: #{$i*.5}rem; }
    .px-#{$i} { padding-left: #{$i*.5}rem; padding-right: #{$i*.5}rem; }
    .gap-#{$i} { gap: #{$i *.5}rem; }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #bebebe; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #858585; 
}